# Force Dart as primary language
*.dart linguist-language=Dart

# Ignore Flutter generated platform code
android/** linguist-vendored
ios/** linguist-vendored
linux/** linguist-vendored
macos/** linguist-vendored
windows/** linguist-vendored
web/** linguist-vendored

# Ignore build & tool files
build/** linguist-vendored
.dart_tool/** linguist-vendored